h2{
    color: black;
    text-align: center;
}
.line{
    width: 17%;
    height: 2px;
    background-color: #39339a;
    display: block;
    margin: 0 auto;
}
.pourquoi{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background-image: url(../images/images\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.pourquoi__srv__nous{
    border: #39339a 1px solid;
    width: 225px;
    height: 250px;
    text-align: center;
    padding: 15px;
    background-color: rgba(238, 238, 238, 0.479);
      
}
.pourquoi :hover{
    background-color: rgba(255, 255, 255, 0);
}

/* ----------------------services-------------------- */
.contact{
    margin-top: 35px;
    background-image: url(../images/bg-construction-2.jpg);
    background-size: cover;
    height: 379px;
}
.contact__par{
    width: 40%;
    padding: 20px 30px;
    float: right;
    background-color: #f0f0f7e3;
}
.contact__par__list{
    margin-top: 35px;
}
li{
    display: flex;
    align-items: center;
}
/* -----------------footer-------------------- */

.footer__sujet{
    display: flex;
    justify-content: space-evenly;
}

.line-footer{
    width: 8%;
    height: 2px;
    background-color: #39339a;
}
.footer{
    background-image: url(../images/335459-world-map-dark-photoshopped-world_map-748x468.jpg);
    height: 241px;

}
.footer__sujet{
    color: white;
}
.footer__ap{
    width: 50%;
}
.footer__fonaw{
    font-size: 30px;
    float: right;
    margin-right: 80px;
    
}
I{
    color: #39339a;
    padding: 15px;
    cursor: pointer;
}
.footer__fonaw :hover{
    background-color: #2e65f9;
    color: white;
}


