

#acceuil{
    .navbar{
        text-transform: uppercase;
        font-weight: 500;
        font-size: .9rem;
        letter-spacing: .1rem;
        background: rgba(255, 255, 255, 1) !important;
    }

}