

#acceuil{
    .navbar{
        text-transform: uppercase;
        font-weight: 500;
        font-size: .9rem;
        letter-spacing: .1rem;
        background: rgba(255, 255, 255, 1) !important;
        .navbar-brand img{
        
            height: 4rem;
        
        }
        div .navbar-nav li{
            padding-right: .9rem;
        }
        .nav-link{
            color:#4B4B4B;
            padding-top: .8rem;
        }
        .nav-link.active,
        .nav-link:hover{
            color: #39339a;
        } 
    }



}