.projects-section{
    h2{
        font-size: 180%;
        word-spacing: 2px;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 1px;
        font-weight: 300;
        text-transform: uppercase;
        margin-top : 10px
    }
    h2:after{
        display: block;
        margin: 0 auto;
        background-color: #39339a;
        height: 2px;
        width: 20%;
        content: "";
        margin-top: 20px;
    }
    .projects-showcase{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
            li{
               width: 25%;
               figure{
                   width: 100%;
                   margin: 0;
                   img{
                       width: 100%;
                   }
               }
            }
    }
}