.projects-section{
    margin-top: 30px;
    h2{
        font-size: 180%;
        word-spacing: 2px;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 1px;
        font-weight: 300;
        text-transform: uppercase;
        margin-top : 10px
    }
    h2:after{
        display: block;
        margin: 0 auto;
        background-color: #39339a;
        height: 2px;
        width: 20%;
        content: "";
        margin-top: 20px;
    }
    .projects-showcase{
        margin-top: 20px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
            li{
               width: 25%;
               figure{
                   width: 100%;
                   margin: 0;
                   overflow: hidden;
                   background-color: #000;
                   img{
                       width: 100%;
                       transform: scale(1.15);
                       transition: transform 0.5s;
                       opacity: 0.7;
                   }
                   img:hover{
                    transform: scale(1);
                    opacity: 1;
                }
               }
            }
    }
}