.container{
position: relative;
top : 5%;
padding-top:10%;
}

.container h2{
    font-size:3rem !important;
    font-weight: bold;
    margin-top: 10px;
}
.container h4{
    margin-top: 10px;
}
.container p{
    margin-top: 10px;
}
.one{
    height:2rem !important;
    width: 2rem !important;
}
.two{
background-position: center;
background-size: cover;
width: 100%;
height:32rem !important
}