
*{
  margin: 0;
  padding: 0;
}

.travaux{
    padding-top:  30px;
    padding-left: 7px;
    display: flex;
    justify-content: space-evenly;
    height: 50%;
}
.ig{
  width: 80%;
  padding-top: 30px;
}
.global{
    margin-left: 20px;
}
.divers{
  text-align: center;

}
.titre{
    color: rgb(107, 57, 201);
    font-size: 25px;
    margin-top: 100px;
}
.bgr{
    background-color: rgb(53, 34, 216);
    width: 140px;
    height: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.para{
    padding-top: 17px; 
    font-size: 15px;
}
.forte{
    /* text-align: center; */
    margin-top: 100px;

}
.pro{
    text-align: center;
    margin-bottom: 40px;
}


/* .bgr2{
    background-color: rgb(53, 34, 216);
    margin-left: 448px;
    width: 140px;
    height: 3px;
} */
.titre2{
    color: rgb(107, 57, 201);
    font-size: 25px;
}
.para2{
    font-size: 20px;
    padding-top: 30px;
}
.image{
    padding-left: 7px;
    padding-top: 55px;
}

.pro2{
    background-image: url(img/0b3067a43c0f.jpg);
    background-size: cover;
    padding: 50px 0px;
    font-family: 'Roboto', Arial , sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}
.progsbar {
    padding-bottom: 15px;
}
.para3{
    font-size: 18px;
    font-weight: 500;
}

  
.line{
    height: 10px;
    background: #e8e8e8;
    border-radius: 7px;
    position: relative;
}
  
  .label{
    font-size: 23px;

    float: right;
    
    
  }
  
  span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgb(32, 145, 250);
    border-radius: 10px;
  }
  
  
  @keyframes animationLoaded{
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }


@media screen and (max-width:768px) {
    .s1{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


}
