@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#acceuil .navbar {
  text-transform: uppercase;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: white !important; }

.navbar-brand img {
  height: 4rem; }

div .navbar-nav li {
  padding-right: .9rem; }

div .navbar-dark .navbar-nav .nav-link {
  color: #4B4B4B;
  padding-top: .8rem; }

div .navbar-dark .navbar-nav .nav-link.active,
div .navbar-dark .navbar-nav .nav-link:hover {
  color: #39339a; }

nav .navbar-toggler {
  background-color: #222222; }

* {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif; }
