
*{
  margin: 0;
  padding: 0;
}

.s1{
    margin-top: 10%;
    padding-top: 15px;
    padding-left: 7px;
    display: flex;
    justify-content: space-evenly;
}
.global{
    margin-left: 20px;
}
.titre{
    color: rgb(107, 57, 201);
    font-size: 25px;
}
.bgr{
    background-color: rgb(53, 34, 216);
    width: 140px;
    height: 3px;
}
.para{
    padding-top: 17px; 
}
.s2{
    /* text-align: center; */
    margin-top: 100px;

}
.pro{
    text-align: center;
    margin-bottom: 40px;
}


.bgr2{
    background-color: rgb(53, 34, 216);
    margin-left: 448px;
    width: 140px;
    height: 3px;
}
.titre2{
    color: rgb(107, 57, 201);
    font-size: 25px;
}
.para2{
    font-size: 20px;
    padding-top: 30px;
}
.image{
    padding-left: 7px;
    padding-top: 55px;
}

.pro2{
    background-image: url(img/0b3067a43c0f.jpg);
    background-size: cover;
    padding: 50px 0px;
    font-family: 'Montserrat', Arial , sans-serif;
    margin: 0;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}
.progsbar {
    padding-bottom: 25px;
}
.para3{
    font-size: 22px;
    padding-bottom: 10px;
}

  /* .progress-bar{
    display: flex;
    flex-direction: column;
  } */
  
  .progress-bar1 .line{
    height: 10px;
    background: #e8e8e8;
    border-radius: 7px;
    position: relative;
  }
  
  .progress-bar1 .label{
    font-size: 30px;
    position: relative;
    bottom: 30px;
    float: right;
    
    
  }
  
  .progress-bar1 > .line > span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgb(32, 145, 250);
    border-radius: 10px;
  }
  
  
  @keyframes animationLoaded{
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }


@media screen and (max-width:768px) {
    .s1{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


}

/* nav */

/* navbar */
#home .navbar {
  text-transform: uppercase;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .1rem;
  background:#33373b !important; }

.navbar-brand img {
  height: 4rem; }

div .navbar-nav li {
  padding-right: .9rem; }

div .navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: .8rem; }

div .navbar-dark .navbar-nav .nav-link.active,
div .navbar-dark .navbar-nav .nav-link:hover {
  color: #1004ff; }

nav .navbar-toggler {
  background-color: #222222; }





